@font-face {
    font-family: RobotoThin;
    src: url(/fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: OpenSansLight;
    src: url(/fonts/OpenSans-Light.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: OpenSansLight;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el cuerpo ocupe al menos toda la altura de la ventana */
    width: 100%;
}

header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 7rem;
    background-color: #2c3e50;
    gap: 40px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid transparent;
    /* Borde inferior transparente */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    /* Sombra */
}

section {

    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 5rem;
    background-color: #2c3e50;
    justify-content: center;
    align-items: center;
    color: white;
}

#divLogo{
    display: flex;
    width: 6%;
    position: absolute;
    top: 5%;
    left: 3.5%;
    transform: translate(-50%, -50%);
}

#divLogo img{
    width: 100%;
    transition: transform 0.3s ease;
}

#divLogo img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#divOpciones{
    display: flex;
    gap: 10px;
}

.divOpcion{
    border: 2px solid black;
}

.divOpcion:hover{
    cursor: pointer;
}

#divGestionarSolicitudes{
    display: none;
    flex-direction: column;
    gap: 15px;
}

.divSolicitud{
    display: flex;
    flex-direction: column;
    border: 2px solid #6E8AD4;
    border-radius: 7px;
    padding: 30px 50px 30px 50px;
    color: #2c3e50;
    gap: 10px;
}

.divInfo{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.divBotones{
    display: flex;
    gap: 7px;
}

#divGestionarVacantes{
    display: none;
    flex-direction: column;
    gap: 45px;
}

.divVacante{
    display: flex;
    flex-direction: column;
    border: 2px solid #6E8AD4;
    border-radius: 7px;
    padding: 30px 50px 30px 50px;
    color: #2c3e50;
    gap: 10px;
}

.divInfoVacante{
    display: flex;
    flex-direction: column;
    gap: 5px; 
}

.divBoton{
    display: flex;
    gap: 7px;
}

#modalModificarVacantes{
    display: none;
    flex-direction: column;
    gap: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #2c3e50;
    padding: 30px 30px 30px 30px;
    width: 30vw;
    height: 50%;
    background-color: #6377aa;
    border-radius: 7px;
}

#divDestacadoModificar{
    display: flex;
    gap: 5px;
}

#divDestacadoModificar p{
    display: flex;
    align-items: center;
    justify-content: center;
}

#divSalarioModificar h3{
    color: #fff;
}

#divCerrarSesion button, .boton, .divBotones button, .divBoton button{
    --c: #6E8AD4;
    box-shadow: 0 0 0 .1em inset var(--c);
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background:
        var(--_g) calc(var(--_p, 0%) - 100%) 0%,
        var(--_g) calc(200% - var(--_p, 0%)) 0%,
        var(--_g) calc(var(--_p, 0%) - 100%) 100%,
        var(--_g) calc(200% - var(--_p, 0%)) 100%;
    background-size: 50.5% calc(var(--_p, 0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
    font-size: 1rem;
    cursor: pointer;
    padding: .5em .8em;
    border: none;
    color: white;
    border-radius: 5px;
}

#divCerrarSesion button:hover, #divOpciones div:hover, .boton:hover, .divBotones button:hover, .divBoton button:hover, #botonModificarVacante:hover, #botonCancelar:hover{
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
}

.boton, .divBotones button, .divBoton button{
    color: #2c3e50 !important;
}

#botonModificarVacante, #botonCancelar{
    --c: #2c3e50;
    box-shadow: 0 0 0 .1em inset var(--c);
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background:
        var(--_g) calc(var(--_p, 0%) - 100%) 0%,
        var(--_g) calc(200% - var(--_p, 0%)) 0%,
        var(--_g) calc(var(--_p, 0%) - 100%) 100%,
        var(--_g) calc(200% - var(--_p, 0%)) 100%;
    background-size: 50.5% calc(var(--_p, 0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
    font-size: 1rem;
    cursor: pointer;
    padding: .5em .8em;
    border: none;
    color: white;
    border-radius: 5px;
}

#divOpciones div{
    --c: #6E8AD4;
    box-shadow: 0 0 0 .1em inset var(--c);
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background:
        var(--_g) calc(var(--_p, 0%) - 100%) 0%,
        var(--_g) calc(200% - var(--_p, 0%)) 0%,
        var(--_g) calc(var(--_p, 0%) - 100%) 100%,
        var(--_g) calc(200% - var(--_p, 0%)) 100%;
    background-size: 50.5% calc(var(--_p, 0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
    font-size: 1rem;
    cursor: pointer;
    padding: .5em .8em;
    border: none;
    color: #2c3e50;
    /* border-radius: 5px; */
}

#divPublicar{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 2px solid #6E8AD4;
    padding: 30px 30px 30px 30px;
    border-radius: 7px;
}

#divPublicar div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#divSalario, #divDestacado, #divSalarioModificar{
    display: flex !important;
    flex-direction: row !important;
    gap: 5px;
}

#divSalario h3, #divDestacado h3{
    display: flex;
    align-items: center;
    justify-content: center;
}

#divTitulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

#divContenido{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

#divTitulo h3{
    color: #2c3e50;
    font-size: 30px;
}

input::placeholder {
    color: white;
}

input:focus, textarea:focus{
    outline: none;
    border: 2px solid #6E8AD4;
}

input, textarea{
    appearance: none;
    border: 0;
    border-radius: 3px;
    background-color: #2c3e50;
    color: white;
    padding: 7px;
}

select {
    /* Reset Select */
    appearance: none;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 5px;
    color: #fff;
    background-color: #2c3e50;
    background-image: none;
    cursor: pointer;
}

select:focus{
    outline: none;
}

/* Remove IE arrow */
select::-ms-expand {
    display: none;
}

/* Custom Select wrapper */
.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
}

/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #34495e;
    transition: .25s all ease;
    pointer-events: none;
}

/* Transition */
.select:hover::after {
    color: #6E8AD4;
}

select option {
    color: white;
}

#divSelectDestacado, #divNuevoDestacado{
    width: 6em;
    height: 3em;
}

#divError{
    align-items: center;
    justify-content: center;
}

#mensajeError{
    display: none;
    color: white;
    background-color: red;
    padding: 5px;
}

@media only screen and (min-width: 250px) and (max-width: 800px){
    #divLogo{
        width: 20%;
        left: 15%;
        top: 7%;
    }
    section{
        padding-left: 15px;
        padding-right: 15px;
        justify-content: center;
    }
    #modalModificarVacantes{
        width: 90%;
        height: 70%;
    }
}