@font-face {
    font-family: RobotoLight;
    src: url(/fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: RobotoThin;
    src: url(/fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: MontserratThin;
    src: url(/fonts/Montserrat-Thin.ttf);
}
@font-face {
    font-family: OpenSansLight;
    src: url(/fonts/OpenSans-Light.ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: OpenSansLight;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* Una fila para el header, una para la section, y otra para el footer */
    min-height: 100vh;
    /* Asegura que el cuerpo ocupe al menos toda la altura de la ventana */
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 20rem;
    background-color: #2c3e50;
    gap: 40px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid transparent;
    /* Borde inferior transparente */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    /* Sombra */
}

#divLogin {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#divBuscador {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 40%;
    border: 2px solid #6E8AD4;
    border-radius: 10px;
    gap: 10px;
    background-color: #ffffff13;
}

section {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
    padding-top: 60px;

}

section div {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

#divFiltroEmpresa {
    display: flex;
    justify-content: center;
}

#divFiltroEmpresa h2 {
    width: 100%;
    text-align: center;
}

#divFiltroEmpresa div {
    display: flex;
    flex-direction: column;
}

.divFiltros {
    display: flex;
    justify-content: center;
}

.divFiltros div{
    justify-content: center;
}

.divFiltros div div {
    display: flex;
    flex-direction: column;
}

.divFiltros h2 {
    width: 100%;
    text-align: center;
}

footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 5rem;
    background-color: #2c3e50;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    color: white;
}

img {
    width: 300px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

h3 {
    text-align: center;
}

.boton {
    --c: #6E8AD4;
    /* the color*/

    box-shadow: 0 0 0 .1em inset var(--c);
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background:
        var(--_g) calc(var(--_p, 0%) - 100%) 0%,
        var(--_g) calc(200% - var(--_p, 0%)) 0%,
        var(--_g) calc(var(--_p, 0%) - 100%) 100%,
        var(--_g) calc(200% - var(--_p, 0%)) 100%;
    background-size: 50.5% calc(var(--_p, 0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
    font-size: 1rem;
    cursor: pointer;
    padding: .5em .8em;
    font-weight: bold;
    border: none;
    color: #fff;
    border-radius: 5px;
    height: 60px;
    width: 250px;
}

.boton:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
}

.boton:active {
    box-shadow: 0 0 9e9q inset #0009;
    background-color: var(--c);
    color: #fff;
}

#botonBuscar{
    width: 150px;
    border-radius: 4px;
    height: 40px;
}

select {
    /* Reset Select */
    appearance: none;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: #2c3e50;
    background-image: none;
    cursor: pointer;
}

select:focus{
    outline: none;
}

/* Remove IE arrow */
select::-ms-expand {
    display: none;
}

/* Custom Select wrapper */
.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
}

/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #34495e;
    transition: .25s all ease;
    pointer-events: none;
}

/* Transition */
.select:hover::after {
    color: #6E8AD4;
}

select option {
    color: white;
}

.input {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
}

#inputBuscador {
    appearance: none;
    border: 0;
    border-radius: 3px;
    width: 100%;
    background-color: #2c3e50;
    color: white;
    padding: 15px;
}

#inputBuscador::placeholder {
    color: white;
}

#inputBuscador:focus{
    outline: none;
    border: 2px solid #6E8AD4;
}

#divLogo{
    position: absolute;
    top: 3%;
    left: 3%;
    width: 12%;
}

#divLogo img{
    width: 100%;
}

#divUsuario{
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    top: 3%;
    left: 85%;
    display: none;
    flex-wrap: wrap;
    width: 10%;
    align-items: center;
    gap: 10px;
    
}

#divUsuario img{
    width: 50%;
}

#divEmpresa{
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    top: 3%;
    left: 85%;
    display: none;
    flex-wrap: wrap;
    width: 10%;
    align-items: center; 
    gap: 10px;
}

#divEmpresa img{
    width: 50%;
}

#modalMenuEmpresa{
    display: none;
    width: 100%;
    height: 100px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.separador{
    width: 60%;
    height: 3px;
    border: 2px solid #6E8AD4;
    margin-bottom: 25px;
}

#modalMenuUsuario{
    display: none;
    height: 100px;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

#modalMenuUsuario button, #modalMenuEmpresa button{
    --c: #6E8AD4;
    /* the color*/

    box-shadow: 0 0 0 .1em inset var(--c);
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background:
        var(--_g) calc(var(--_p, 0%) - 100%) 0%,
        var(--_g) calc(200% - var(--_p, 0%)) 0%,
        var(--_g) calc(var(--_p, 0%) - 100%) 100%,
        var(--_g) calc(200% - var(--_p, 0%)) 100%;
    background-size: 50.5% calc(var(--_p, 0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
    font-size: 1rem;
    cursor: pointer;
    padding: .5em .8em;
    font-weight: bold;
    border: none;
    color: #fff;
    border-radius: 5px;
    height: 60px;
    width: 150px;
}

#modalMenuUsuario button:hover, #modalMenuEmpresa button:hover{
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
}




/* @media only screen and (min-width: 300px) and (max-width: 1024px){
    header{
        height: 50rem;
    }
} */

/* Estilos para pantallas medianas */
@media only screen and (min-width: 250px) and (max-width: 1400px) {
    .divEmpresa{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 35%;
    }
    .divFiltros div div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 35%;
    }
    .divFiltros div div img{
        width: 100%;
    }
    .divEmpresa img{
        width: 100%;
    }
    #divBuscador{
        flex-wrap: nowrap;
        padding: 15px 15px 15px 15px;
        height: fit-content;
        width: fit-content;
        flex-direction: column;
    }
    .input{
        width: 90%;
    }
    header{
        display: flex;
        flex-direction: column;
        height: 25rem;
    }
    #divUsuario{
        transform: translate(-50%, -50%);
        left: 50%;
        top: 4%;
        flex-direction: row;
        flex-wrap: nowrap;
        width: fit-content;
        justify-content: center;
    }
    #divUsuario img{
        width: 50px;
    }
    #modalMenuUsuario{
        flex-direction: row;
        height: fit-content;   
    }
    #divEmpresa{
        transform: translate(-50%, -50%);
        left: 50%;
        top: 4%;
        flex-direction: row;
        flex-wrap: nowrap;
        width: fit-content;
        justify-content: center;  
    }
    #divEmpresa img{
        width: 50px;
    }
    #modalMenuEmpresa{
        flex-direction: row;
        height: fit-content;   
    }
    #modalMenuEmpresa button{
        width: fit-content;
        height: fit-content;
        padding: 5px 5px 5px 5px;
    }
    #modalMenuUsuario button{
        width: fit-content;
        height: fit-content;
        padding: 5px 5px 5px 5px;
    }
    .boton{
        height: fit-content;
        width: fit-content;
    }
    #divLogo{
        width: 20%;
        left: 5%;
        top: 2%;
    }

}